@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Your Message send succesfully.</strong>
</div>

<h1>Hate Company | Technical Assigment</h1>&nbsp
<p>Mission ➡️ Comment Line </p>&nbsp
<br>
<div class="row">
    <div class="col">
        <div class="d-flex flex-start">
            <img class="rounded-circle shadow-1-strong me-3"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                 height="65" />
            <div class="flex-grow-1 flex-shrink-1">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            Maria Smantha <span class="small">- 2 hours ago</span>
                        </p>
                        <div class="small">
                       <p><a class="btn btn-link">Like</a>
                        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal">
                            <span class="small"> reply</span>
                        </a></p>
                           </div>
                    </div>
                    <p class="small mb-0">
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page.
                    </p>
                </div>

                <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                             width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    Simona Disa <span class="small">- 3 hours ago</span>
                                </p>
                                <a href="#!" class="d-flex align-items-center me-3">
                                    <p class="mb-0">Like</p>
                                </a>
                            </div>
                            <p class="small mb-0">
                                letters, as opposed to using 'Content here, content here',
                                making it look like readable English.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                             width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    John Smith <span class="small">- 4 hours ago</span>
                                </p>
                                <a href="#!" class="d-flex align-items-center me-3">
                                    <p class="mb-0">Like</p>
                                </a>
                            </div>
                            <p class="small mb-0">
                                the majority have suffered alteration in some form, by
                                injected humour, or randomised words.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-start mt-4">
            <img class="rounded-circle shadow-1-strong me-3"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp" alt="avatar" width="65"
                 height="65" />
            <div class="flex-grow-1 flex-shrink-1">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            Natalie Smith <span class="small">- 2 hours ago</span>
                        </p>
                        <div class="small">
                            <p>
                                <a class="btn btn-link">Like</a>
                                <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal">
                                    <span class="small"> reply</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <p class="small mb-0">
                        The standard chunk of Lorem Ipsum used since the 1500s is
                        reproduced below for those interested. Sections 1.10.32 and
                        1.10.33.
                    </p>
                </div>

                <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar"
                             width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    Lisa Cudrow <span class="small">- 4 hours ago</span>
                                    <svg class="bi" width="32" height="32" fill="currentColor">
                                        <use xlink:href="bootstrap-icons.svg#heart-fill" />
                                    </svg>
                                </p>
                                <a href="#!" class="d-flex align-items-center me-3">
                                    <p class="mb-0">Like</p>
                                </a>
                            </div>
                            <p class="small mb-0">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                scelerisque ante sollicitudin commodo. Cras purus odio,
                                vestibulum in vulputate at, tempus viverra turpis.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp" alt="avatar"
                             width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    Maggie McLoan <span class="small">- 5 hours ago</span>
                                </p>
                                <a href="#!" class="d-flex align-items-center me-3">
                                    <p class="mb-0">Like</p>
                                </a>
                            </div>
                            <p class="small mb-0">
                                a Latin professor at Hampden-Sydney College in Virginia,
                                looked up one of the more obscure Latin words, consectetur
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                             width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1">
                                    John Smith <span class="small">- 6 hours ago</span>
                                </p>
                                    <a href="#!" class="d-flex align-items-center me-3">
                                    <p class="mb-0">Like</p>
                                </a>
                            </div>
                            <p class="small mb-0">
                                Autem, totam debitis suscipit saepe sapiente magnam officiis
                                quaerat necessitatibus odio assumenda, perferendis quae iusto
                                labore laboriosam minima numquam impedit quam dolorem!
                            </p>
                        </div>
                    </div>
                </div>&nbsp;
                <h3>Leave a comment</h3>
                <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                         height="40" />
                    <div class="form-outline w-100">
                        <textarea class="form-control" id="textAreaExample" rows="4"
                                  style="background: #fff;"></textarea>
                        <label class="form-label" for="textAreaExample">Message</label>
                    </div>
                </div>
                            <div class="float-end mt-2 pt-1">
              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Reply Comment</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>


            <div class="modal-body">
                <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                         height="40" />
                    <div class="form-outline w-100">
                        <textarea class="form-control" id="textAreaExample" rows="4"
                                  style="background: #fff;"></textarea>
                        <label class="form-label" for="textAreaExample">Message</label>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
    </div>
<script>
    /*let like_count= 1;
    like_count++;
    let total_likes = like_couns;
    document.getElementById("likes").innerHTML = total_likes;
      {
      alert("You are liked post.!");
      //After back-end features you can disable this for only single time.
      }
    *\
</script>

  